[user]
	email = zanqi.liang@gmail.com
	name = Zanqi
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	unstage = reset HEAD --
	gr = log --all --graph --decorate --oneline
	grl = log --all --graph --decorate
[core]
	excludesfile = /Users/zanqiliang/.gitignore_global
[init]
	defaultBranch = main
[pull]
	rebase = false
